<template>
  <div class="container">
    <div class="login">
      <div class="title">LOG IN</div>
      <!---Form-->
      <div :dense="dense" class="label">Username *</div>
      <div>
        <q-input
          rounded
          borderless
          v-model="text"
          :dense="dense"
          label="Enter Username"
          label-color="black"
          class="onboarding-border-accent-0  onboarding-border-radius-10 uname"
        >

        </q-input>
      </div>
      <div :dense="dense" class="label">Password *</div>
      <div>
        <q-input
          rounded
          borderless
          v-model="password"
          :type="isPwd ? 'password' : 'text'"
          :dense="dense"
          label="Enter Password"
          label-color="black"
          class="onboarding-border-accent-0  onboarding-border-radius-10 pword"
          color="white"
        >

        </q-input>
      </div>
      <div>
        <q-btn unelevated rounded label="Login In" class="loginbtn" to="onboarding"/>
      </div>
      <div class="forgot">
        <q-btn flat unelevated class="forgotbtn">Forgot Password?</q-btn>
      </div>
    </div>
  </div>
</template>
<script>
import { ref } from "vue";

export default {
  setup() {
    return {
      text: ref(""),
      ph: ref(""),
      dense: ref(false),
      password: ref(""),
      isPwd: ref(true),
    };
  },
};
</script>
<style lang="scss" scope>
//Desktop
.container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  position: fixed;
  .title {
    color: rgb(0, 0, 0);
    font-family: "Source Sans Pro";
    font-weight: 700;
    text-align: center;
    min-height: 101px;
    min-width: 238px;
    left: 109px;
    font-size: 70px;
    white-space: nowrap;
    line-height: 100.56px;
    margin-bottom: 20px;
  }
  .uname,
  .pword {
    outline: 3px;
    outline-color: #249990;
    border-radius: 12px;
    width: 500px;
    border-color: #26a69a;
    color: #249990;
    padding-left: 20px;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0.8;

  }
  .uname {
    margin-top: 5px;
  }
  .pword {
    margin-top: 5px;
  }
  .forgot {
    font-weight: 400;
    font-size: 16px;
    margin-top: 12px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .label{
    font-size: 16px;
    font-family: "Source Sans Pro";
    margin-bottom: 2px;
    margin-top: 20px;
  }
  .forgotbtn {
    text-transform: capitalize;
    color: black;
  }

  .loginbtn {
    border-radius: 30px;
    background-color: #249990;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 400; // regular
    color: #ffffff;
    text-transform: none;
    text-align: center;
    padding: 2px 83px;
    height: 55px;
    font-weight: bold;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 500px;
  }
}
//Mobile
@media screen and (max-width: 767px) {
  .container {
    height: 100%;

    .login {
      min-height: 374px;
      width: 320px;
      position: absolute;
    }
    .title {
      font-weight: 700;
      line-height: 22px;
      min-height: 34px;
      min-width: 58px;
      font-size: 22px;
    }
    .uname,
    .pword {
      border-radius: 12px;
      width: 320px;
    }
    .uname {
      margin-top: 43px;
    }
    .pword {
      margin-top: 33px;
    }
    .forgot {
      font-weight: 400;
      line-height: 15px;
      margin-top: 12px;
      text-align: right;
      color: white;
    }

    .loginbtn {
      border-radius: 8px;

      font-size: 12px;

      height: 32px;
      font-weight: bold;

      width: 201px;
    }
  }
}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600");
</style>
