<template>
  <div class="bg-white card-scroll onboarding-border-radius-12">
    <div class="q-pa-lg">
      <div class="flex justifty-start items-center onboarding-text-accent-0">
	    <q-btn round dense flat icon="arrow_back" :to="{ name: 'todo-list' }"/>
	    <h5 class="text-24 text-semibold q-my-none q-ml-md ">Create New Task</h5>
    </div>

  <q-form @submit="saveTask()">
    <div class="q-pt-lg" >
      Task Title:
    </div>

    <q-input
      dense
      borderless
      hide-bottom-space
      v-model="form.taskTitle"
      class="onboarding-input-field onboarding-border-accent-0 onboarding-border-radius-10 q-input-task-tittle"
      :rules="[ (val) => (val && val.length > 0) || 'This Field is Required!', ]"
    />

    <div class="q-pt-md" v-for="(form, index) in form" :key="index">
      <div class="onboarding-border-accent-0 onboarding-border-radius-15 q-px-md q-py-md" style="width: 400px; border-color: #26a69a">
        <div class="flex justify-end">
          <div v-if="this.form.length > 1 && index !== 0">
            <q-btn
				    	flat
				    	class="delete_button onboarding-buttontext-grey q-pa-none"
				    	size="10px"
				    	icon="iconfont icon-delete-fill"
				    	@click="removeKeyResult(index)"
				    	/>
          </div>
        </div>

        <div class="q-py-sm">
        Task Name:
          <q-input
            dense
            borderless
            hide-bottom-space
            v-model="form.taskName"
            class="onboarding-input-field onboarding-border-accent-0 onboarding-border-radius-10 q-input-task-name"
            :rules="[val => !!val || 'This field is required!']"
            />
        </div>

        Time:
        <q-input
          dense
          borderless
          v-model="form.taskTime"
          :rules="[val => !!val || 'Please Choose a Time!']"
          readonly
          hide-bottom-space
          placeholder="- - : - - AM/PM"
          class="onboarding-input-field onboarding-border-accent-0 onboarding-border-radius-10 q-input-task-name"

          >
          <template v-slot:append><q-btn size="12px" round flat icon="bi-clock-fill" class="clock-btn" @click="toggleCard(index)" /></template>
        </q-input>
      </div>

      <q-slide-transition>
          <div v-show="form.toggleCardTime" class="q-pt-sm">
            <div q-if="showCardTime" flat bordered class="row justify-center onboarding-border-accent-0 onboarding-border-radius-10 time-picker">
              <q-time v-model="form.taskTime" flat text-color="teal" @change="updateTime(index)" mask="hh:mm A" />
            </div>
          </div>
        </q-slide-transition>
    </div>

        <div class="q-pt-md">
          <div class="flex justify-center onboarding-border-accent-0 onboarding-border-radius-10 task-add-btn q-py-lg">
            <q-btn
            		flat
            		round
            		class="border-teal bg-teal text-white"
            		id="generateKeyInput"
            		@click="addKeyResult()"
            		no-caps
            		icon="add"
            	/>
          </div>
        </div>

        <div class="q-py-sm">
          <q-btn
            rounded
            dense
            flat
            label="Cancel"
            class="cancel-btn"
            style="color:black"
            :to="{ name: 'todo-list' }"
            />

          <q-btn
            rounded
            dense
            flat
            label="Save"
            class="save-task-btn"
            type="Submit"
            style="color: white"
            />
        </div>
      </q-form>

      <q-dialog v-model="saveDialog" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <span class="q-ml-sm">New Tasks Successfully Added!</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="OK" color="teal" to="todo-list"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
      </div>

  </div>
</template>


<style lang="scss" scope>
@import "../styles/CreateTask.scss";
</style>


<script src="../scripts/CreateTask.js"> </script>
