<style lang="scss" scope>
@import "../styles/Dashboard.scss";
</style>

<script src="../scripts/Dashboard.js"></script>


<template>
  <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" :duration="2000">
    <div class="dashboard">

    </div>
  </transition>
</template>





