<template>
  <div class="items-center full-width">
    <q-icon name="bi-exclamation-circle-fill" size="md" color="teal" class="q-pb-lg"/>
  <p class="text-center text-26 text-weight-bold">
    Are you sure you want to delete this task?
  </p>
  <div></div>
  <p class="text-center text-12 text-weight-light text-italic">
    Note: This process cannot be undone.<br>
    By Confirming, this task will be deleted. <br>
    To go back click "Cancel"
  </p>

  <div class="q-pt-lg">
  <q-btn
  rounded
  flat
  class="cancel-btn"
  label="Cancel"
  @click="ToggleMainDialogState"
  />
  <q-btn
  flat
  rounded
  class="delete-task-btn"
  label="Delete"
  @click="deleteTask"
  />
  </div>
  </div>

</template>

<style scoped>
.cancel-btn{
  width: 100px;
}

.delete-task-btn{
  width: 100px;
  background-color: #26a69a;
  color: white;
}
</style>

<script>
import { ToggleMainDialogState } from 'src/composables/Triggers'
import { MyTasks, indexToDelete } from '../scripts/Tasks';

export default {
  setup() {

    const deleteTask = () => {
      MyTasks.value.splice(indexToDelete, 1);
      ToggleMainDialogState()
    }

    return{
      ToggleMainDialogState,
      deleteTask,
    }
  },
}
</script>
