<template>
  <q-scroll-area
   class="full-height full-width"
  >
    <div class="bg-white onboarding-border-radius-12">
      <div class="q-pa-lg q-px-xl">
        <div class="flex justify-between items-center onboarding-text-accent-0 q-py-lg">
            <text class="text-24 text-semibold q-my-none q-ml-md label">To-Do List</text>
            <q-btn
  				  		flat
  				  		rounded
  				  		no-caps
  				  		dense
  				  		class="border-teal bg-teal text-white q-px-xl q-ml-md"
  				  		:to="{ name: 'create-task' }"
  				  		label="Create New Task"
  				  	/>
        </div>

        <div class="flex justify-start items-center onboarding-text-accent-0 q-gutter-lg q-py-lg">
          <div>
            <text class="text-20 label">
            Filters:
            </text>
          </div>

          <q-input
            rounded
            outlined
            placeholder ="Search"
            dense
          />
        </div>

        <div class="row inline full-width q-gutter-md">
          <div class="col column inline wrap" >
            <div class="flex justify-center todo-titles items-center">
              In-Process
            </div>
            <div v-if="MyTasks.length === 0">
              <q-expansion-item class="q-px-sm"
              label="No Tasks"
              disable
              style="border-top-left-radius: 0px;"
              />
            </div>

            <div v-for="(MyTasks, index) in MyTasks" :key="index" class="q-pb-md">
              <q-expansion-item
              header-class="text-teal text-bold text-20"
              :style="{ 'border-top-left-radius' :index === 0 ? '0px' : null }"
              v-model="MyTasks.toggleExpansion"
              >
              <template v-slot:header>
                <q-item-section>
                  <div class="row inline flex justify-between items-center">
                    <div class="col">
                      <text> {{ MyTasks.taskTitle }}</text>
                    </div>

                    <div v-if="!MyTasks.toggleExpansion" class="q-pr-sm">
                      {{ MyTasks.taskDate }}
                     </div>

                     <q-btn rounded dense flat icon="bi-three-dots" color="grey-8">
                        <q-popup-proxy class="align-popup">
                          <q-list separator dense>
                            <q-item clickable to="update-task" @click="editTodo(index)">
                              <q-item-section>Edit</q-item-section>
                            </q-item>
                            <q-item clickable @click="deleteTodo(index)">
                              <q-item-section>Delete</q-item-section>
                            </q-item>
                          </q-list>
                        </q-popup-proxy>
                      </q-btn>
                    </div>

                </q-item-section>
              </template>


              <div class="column" style="min-height: 200px">
                <div v-for="(taskName, arrayIndex) in MyTasks.taskName" :key="arrayIndex">
                  <div class="q-px-md row inline items-center full-width" style="height: 30px">
                    <div class="col">
                      <q-checkbox dense color="teal" v-model="MyTasks.checkArray[arrayIndex]" class="q-pr-sm" @click="checkBoxChecker(index)"/>
                      {{ taskName }}
                    </div>
                    <div class="col">
                      {{ MyTasks.taskTime[arrayIndex]}}
                    </div>
                  </div>
                </div>
                <div class="col full-height flex justify-end q-pb-sm items-end">
                <div class="row inline items-center flex full-width justify-end q-pr-md content-date">
                  {{ MyTasks.taskDate }}
                </div>
              </div>
              </div>
              </q-expansion-item>
            </div>
          </div>
          <div class="col column inline wrap ">
            <div>
              <div class="flex justify-center todo-titles items-center">
                  Done
              </div>
              <div v-if="FinishedTasks.length === 0">
              <q-expansion-item class="q-px-sm"
              label="No Tasks Done Yet"
              disable
              style="border-top-left-radius: 0px;"
              />
              </div>

              <div v-for="(FinishedTasks, index) in FinishedTasks" :key="index" class="q-pb-md">
              <q-expansion-item
              header-class="text-teal text-bold text-20"
              :style="{ 'border-top-left-radius' :index === 0 ? '0px' : null }"
              v-model="FinishedTasks.toggleExpansion"
              >
              <template v-slot:header>
                <q-item-section>
                  <div class="row inline flex justify-between items-center">
                    <div class="col">
                      <text> {{ FinishedTasks.taskTitle }}</text>
                    </div>
                    <div v-if="!FinishedTasks.toggleExpansion">
                      {{ FinishedTasks.taskDate }}
                    </div>
                    </div>
                </q-item-section>
              </template>

              <div class="column" style="min-height: 200px">
                <div v-for="(taskName, arrayIndex) in FinishedTasks.taskName" :key="arrayIndex">
                  <div class="q-px-md row inline items-center full-width" style="height: 30px">
                    <div class="col">
                      <div class="q-pl-md">
                        <q-checkbox dense color="teal" v-model="FinishedTasks.checkArray[arrayIndex]" class="q-pr-sm"/>

                      {{ taskName }}
                      </div>
                    </div>
                    <div class="col">
                      {{ FinishedTasks.taskTime[arrayIndex]}}
                    </div>
                  </div>
                </div>

                <div class="col full-height flex justify-end q-pb-sm items-end">
                <div class="row inline items-center flex full-width justify-end q-pr-md content-date">
                {{ FinishedTasks.taskDate }}
                </div>
              </div>
              </div>
              </q-expansion-item>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-scroll-area>
  <MainDialog :content="$options.components.DeleteTask" />
  <q-dialog v-model="doneTaskDialog" persistent>

        <q-card>
          <q-card-section class="row items-center">
            <span class="q-ml-sm">Congratulations! You have finished a task.</span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="OK" color="teal" @click="doneTaskDialog = false" />
          </q-card-actions>
        </q-card>
      </q-dialog>
</template>

<style lang="scss" scope>
@import "../styles/TodoList.scss";
</style>

<script src="../scripts/TodoList.js"></script>
