.q-btn{
  color: #26a69a;
}

h5{
  color: #26a69a;
}

.q-input-task-tittle{
  width: 400px;
  border-color: #26a69a;
}

.q-input-task-name{
  border-color: #26a69a;
}

.time-picker{
  height: 400px;
  width: 400px;
  border-color: #26a69a;
  background-color: white;
}

.task-add-btn{
  width: 400px;
  border: 1px dashed #26a69a;
}

.cancel-btn{
  width: 100px;
}

.save-task-btn{
  width: 100px;
  background-color: #26a69a;
}

.card-scroll{
  height: 90vh;
  overflow-y: auto;
}

.card-scroll::-webkit-scrollbar {
  width: 6px;
}

.card-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.clock-btn{
  color: black;
}

.card-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.card-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
