.q-btn{
  color: #26a69a;
}

h5{
  color: #26a69a;
}

.card-scroll{
  height: 90vh;
  overflow-y: auto;
}

.todo-titles{
  background-color: #26a69a;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 30px;
  width: 100px;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
border-color: #26a69a;
}

.q-expansion-item {
border-style: solid;
border-width: 1px;
border-radius: 10px;

background-color: #F5F5F5 ;
border-color: #1E1E1E66;
}

.q-focus-helper {
  visibility: hidden;
}

.align-popup{
 float: left;
}

.q-list .q-item:hover {
  background-color: #26a69a;
  color: white;
}

.content-date{
  color: #26a69a;
  font-weight: bold;
  font-size: 16px;
}
.label{
  color: #000000;
}
